NODE_ENV=development
APP_ENV=development

JWT_SECRET=your_super_secret_jwt_key_here

DB_USER=postgres
DB_PASSWORD=supersecretpass123
DB_NAME=ultrafast_db
DB_PORT=5432

REDIS_PORT=6379

RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
